body {
  margin: 0;
  background: #f1faee;
}

.click-to-copy {
  height: 100vh;
  width: 100%;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #1d3557;
}

.click-to-copy h2 {
  font-family: "Roboto Black", sans-serif;
  font-size: 40px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  padding-bottom: 16px;
}

.click-to-copy label {
  font-size: 18px;
}

.click-to-copy input {
  font-size: 48px;
  text-align: center;
  font-weight: bold;
  margin-top: 16px;
  padding: 8px 16px;
  width: 140px;
  border-radius: 8px;
  border: 2px solid #1d3557;
}

.click-to-copy input:focus {
  outline: none;
}

.click-to-copy input.error {
  border: 2px solid red;
  animation: shake 300ms ease-in-out;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-2px);
  }

  40% {
    transform: translateX(5px);
  }

  75% {
    transform: translateX(-2px);
  }

  100% {
    transform: translateX(0);
  }
}

.click-to-copy .box {
  height: 120px;
  width: 400px;
  background: #e63946;
  margin: 24px;
}

.click-to-copy .copy-btn {
  padding: 12px 32px;
  border: 0;
  background: #1d3557;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  text-transform: uppercase;
}

.click-to-copy .toast-notification {
  position: fixed;
  bottom: 0px;
  pointer-events: none;
  opacity: 0;
  background: #111;
  color: #fff;
  padding: 8px 32px;
  border-radius: 4px;
  transition: all 400ms ease;
}

.click-to-copy .toast-notification.active {
  opacity: 1;
  bottom: 40px;
}
